<div class="combo all-caps">
  <select id={{id}} class="combo-input">
    {{#each opts}}
      {{#if ../accessor}}
        <option value={{this.id}}>{{this.accessor}}</option>
      {{else}}
        <option value={{this}}>{{this}}</option>
      {{/if}}
    {{/each}}
  </select>
</div>