<section>
	<div class="single-col" id="{{this.which}}-package">
		{{#if content.title}}
			<h2>{{content.title}}</h2>
		{{/if}}
		{{#if content.subtitle}}
			<h3>{{content.subtitle}}</h3>
		{{/if}}
		{{#each content.lead}}
			<p>{{this.text}}</p>
		{{/each}}
	</div>
	<div class="story-block">
		<div class="instructions">
			{{#each content.instructions}}
				<p>{{this.text}}</p>
			{{/each}}
		</div>
		<div class="story-text">
			{{#each content.content}}
				<p>{{this.text}}</p>
			{{/each}}
		</div>
		<div class="story-pic">
			<div class="feature-content" id={{this.which}}>
				{{#ifEquals this.which 'resume'}}
					{{> story/resume-demo }}
				{{/ifEquals}}
				{{#ifEquals this.which 'photo-studio'}}
					{{> story/photo-demo-a }}
				{{/ifEquals}}
				{{#ifEquals this.which 'photo-studio-b'}}
					{{> story/photo-demo-b }}
				{{/ifEquals}}
				{{#ifEquals this.which 'thought-leadership'}}
					{{> story/thought-leadership-demo }}
				{{/ifEquals}}
				{{#ifEquals this.which 'video-call'}}
					{{> story/video-demo }}
				{{/ifEquals}}
			</div>
		</div>
	</div>
</section>