<div class="review">
	<div class="stars">
		<img inline src='star.svg' alt="">
		<img inline src='star.svg' alt="">
		<img inline src='star.svg' alt="">
		<img inline src='star.svg' alt="">
		<img inline src='star.svg' alt="">
	</div>
	<h3>{{this.title}}</h3>
	<p>{{this.content}}</p>
	{{#ifEquals this.author "“BrianAlyssa”"}}
		<p class="author">“<span style="text-decoration: line-through">Brian</span>Alyssa”</p>
	{{else}}
		<p class="author">{{this.author}}</p>
	{{/ifEquals}}
	<p class="location">{{this.location}}</p>
</div>